---
layout: page
permalink: /materials/
title: Materials

---

<h1>Outlines</h1>

  {% for outline in site.outlines %}
    <p><a href="{{ site.baseurl }}{{ outline.url }}">{{ outline.title }}</a>
    </p>
  {% endfor %}

<h1>Problems</h1>

  {% for problem in site.problems %}
    <p><a href="{{ site.baseurl }}{{ problem.url }}">{{ problem.title }}</a>
    </p>
  {% endfor %}

<h1>Visuals</h1>

  {% for visual in site.visuals %}
    <p><a href="{{ site.baseurl }}{{ visual.url }}">{{ visual.title }}</a>
    </p>
  {% endfor %}

<h1>Practice Exam Questions</h1>

  {% for exam in site.exams %}
    <p><a href="{{ site.baseurl }}{{ exam.url }}">{{ exam.title }}</a>
    </p>
  {% endfor %}
